
@media print { @page {size: auto !important} }

@media (min-width: 576px){
    .container {
        max-width: 2600px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 2600px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 1600px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 2600px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 2600px;
    }
}
@media (min-width: 1600px){
    .container {
        max-width: 2600px;
    }
}

body {
    font-family: Roboto !important;
}

.yp-dark {
    background-color: #2B2B2B;
}

#app {
    height: 100%;
}

.container {
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    margin-left: 0px;
}

.navbar {
    background-color: white;
    padding-top: .2rem;
    padding-bottom: 0rem;
}

.navbar-brand{
    font-size: 1.0rem;
}

.yp-anchor{
    position: relative;
    bottom : 42px;
}

a.navbar-brand {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.navbar .btn-secondary {
    color: #6c757d!important;
    background-color: #fff;
    border-color: #fff;
}

.navbar .btn-secondary.focus, .btn-secondary:focus {
     box-shadow:none;
}

.navbar.btn.focus, .btn:focus {
    box-shadow:none;
}

.yp-dark .navbar .btn-secondary {
    color: #6c757d!important;
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}

.jumbotron h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.jumbotron  {
    border-radius: 0rem;
    background-color: #fff;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2px;
    margin-bottom: 0rem;
}

.tst-cell{
    width: 100%;
    min-width: 95px ;
    background-color: lightblue;
    margin: 1px;
}

#yp-table {
    font-size: .8rem ;
    /*line-height: 24px !important;*/
    font-weight: 300 ;
    background-color: whitesmoke;
    border-top: 0px;
    border-right : 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    /*margin: 1px 1px 1px 1px;*/

}

#yp-table h5 {
    font-size: .9rem;
    /*font-weight: 300;*/
    line-height: 1.2;
    margin-bottom: .2rem;

}

#yp-weekdays {
    /*background-color: red;*/
    /*margin: 1px 1px 1px 1px;*/
}

#yp-months {
    /*background-color: red;*/
    /*margin: 1px 1px 1px 1px;*/
}

.yp-header-cell{
    width: 100%;
    min-width: 95px ;
    background-color: white;
    padding-left: 3px;
    border-top: 1px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-top-color: black;
    background-color: white;
    /*margin: 1px 1px 1px 1px;*/
}

.yp-header-cell-right{
    width: 100%;
    min-width: 95px ;
    background-color: white;
    padding-left: 3px;
    border-top: 1px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-style: solid;
    border-color: whitesmoke;
    border-top-color: black;
    /*margin: 1px 1px 1px 1px;*/
}

.yp-cell{
    width: 100%;
    min-width: 95px ;
    background-color: white;
    padding-left: 3px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: whitesmoke;
    white-space:nowrap;
    display: inline-block;
    /*overflow: hidden !important;*/
    text-overflow: ellipsis !important;
}

.yp-cell-weekend {
    background-color: aliceblue !important;
    text-overflow: ellipsis !important;
}

.yp-cell-bottom{
    width: 100%;
    min-width: 95px ;
    background-color: white;
    padding-left: 3px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: whitesmoke;
}

.yp-cell-right{
    width: 100%;
    min-width: 95px ;
    background-color: white;
    padding-left: 3px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-style: solid;
    border-color: whitesmoke;
}

.yp-cell-bottom-right{
    width: 100%;
    min-width: 95px ;
    padding-left: 3px;
    background-color: white;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: whitesmoke;
}

.yp-cell-text {

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

}

.yp-cell-past {
    background-color: #f0f0f0;
}
.yp-cell-today {
    background-color: lightyellow !important;
}

.yp-cell-c0 {border-color: whitesmoke;}
.yp-cell-c1 {background-color: #FFDDDD;} /* light red */
.yp-cell-c2 {background-color: #DDFFDD;} /* light green */
.yp-cell-c3 {background-color: #EEEEFF;} /* light blue */
.yp-cell-c4 {background-color: #EEFFFF;} /* light cyan */
.yp-cell-c5 {background-color: #FFFFEE;} /* light yellow */
.yp-cell-c6 {background-color: #ffeeff;} /* light magenta */
.yp-cell-c7 {background-color: #FFEEE0;} /* light orange*/
.yp-cell-c8 {background-color: #F3EDFF; } /* light purple*/

.yp-cell-btn {
    color: white;
}

#yp-table-subscript {
    font-size: .8rem;
}

#cookieModal {
    padding-right: 0px !important;
}

#cookie-dialog {
    margin-top: 0rem;
    max-width: 100%;
}


.size-input {
    max-width: 3em;
}

.dropdown-menu{
    font-family: Roboto !important;
    font-size:1em;
}

.dropdown a{
     color: black;
 }

#spinner {
    margin-right: .5em;
    width: 2rem;
}

/*.dropdown-item .disabled {*/
/*    color: lightgrey !important;*/
/*}*/

.alert-primary {
      background-color: #fbd4b9;
      border-color: #ff9f00;
      color: #b44010;
  }

.text-cancelled {
    color: #ff9f00;!important;
}

#toasts {
    z-index:100;
}

.toast-body {
    /*min-width: 100em;*/
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #212529;
}

.nav-link {
    color: #212529;
}

#tabs-list {
    /*padding-bottom: 20px;*/
    /*border-bottom: none;*/
}

#tabcontent {
    width:90%;
    padding-left: 1rem;
    /*border-left: 1px solid;*/
}

.footer {
    background-color: white;
    font-size: .8rem;
    z-index: 200;
}

#footer-container {
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
}

#footer-text-left {
    padding-top: .5rem;
    padding-left:.5rem;
}

#footer-text-left a {
    /*color: #2b2d2f;*/
    color: #6c757d!important;
}

#footer-text-center{
    color: #2b2d2f;
    padding-top: .5rem;
    padding-right:2rem;

}

#footer-text-center a {
    /*color: #2b2d2f;*/
    color: #6c757d!important;
}

#footer-text-right {
    padding-top: .5rem;
    padding-right:.5rem;
}

#footer-text-right a {
    /*color: #2b2d2f;*/
    color: #6c757d!important;
}

.show>.btn-secondary.dropdown-toggle {
    color: #6c757d!important;
    background-color: #fff;
    border-color: #fff;
}

.yp-dark .show>.btn-secondary.dropdown-toggle {
    color: #8C8C8C;!important;
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #6c757d!important;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.0rem rgb(130 138 145 / 50%);
}

.btn-secondary:hover {
    color: #6c757d!important;
    background-color: #fff;
    border-color: #fff;
}

.yp-dark  .btn-secondary:hover {
    color: #8C8C8C!important;
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}

.footer .btn-secondary {
    color: #6c757d!important;
    background-color: #fff;
    border-color: #fff;
}

.yp-dark .footer .btn-secondary {
    color: #6c757d!important;
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}

.footer .dropdown-menu {
    font-size: .8rem;
    min-width: 110px;
}

.footer .dropdown-item {
    padding: .25rem .25rem;
}
.footer .btn-sm {
    font-size: .8rem;
}