
@media print { @page {size: auto !important} }

@media (min-width: 1600px){
    .container {
        max-width: 2600px;
    }
}

body {
    font-family: Roboto !important;
}

.container {
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    margin-left: 0px;
}

.jumbotron h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.jumbotron  {
    border-radius: 0rem;
    background-color: #fff;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2px;
    margin-bottom: 0rem;
}

.tst-cell{
    width: 100%;
    min-width: 95px ;
    background-color: lightblue;
    margin: 1px;
}

#yp-table {
    font-size: .8rem ;
    /*line-height: 24px !important;*/
    font-weight: 300 ;
    background-color: whitesmoke;
    border-top: 0px;
    border-right : 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    /*margin: 1px 1px 1px 1px;*/

}

#yp-table h5 {
    font-size: .9rem;
    /*font-weight: 300;*/
    line-height: 1.2;
    margin-bottom: .2rem;

}

#yp-weekdays {
    /*background-color: red;*/
    /*margin: 1px 1px 1px 1px;*/
}

#yp-months {
    /*background-color: red;*/
    /*margin: 1px 1px 1px 1px;*/
}

.yp-header-cell{
    width: 100%;
    min-width: 95px ;
    /*background-color: lightgray;*/
    padding-left: 3px;
    border-top: 1px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: white;
    border-top-color: black;
    /*margin: 1px 1px 1px 1px;*/
}

.yp-header-cell-right{
    width: 100%;
    min-width: 95px ;
    /*background-color: lightgray;*/
    padding-left: 3px;
    border-top: 1px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-style: solid;
    border-color: white;
    border-top-color: black;
    /*margin: 1px 1px 1px 1px;*/
}

.yp-cell{
    width: 100%;
    min-width: 95px ;
    /*background-color: lightgray;*/
    padding-left: 3px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: white;
    white-space:nowrap;
    display: inline-block;
    /*overflow: hidden !important;*/
    text-overflow: ellipsis !important;
}

.yp-cell-weekend {
    background-color: lightgray;
    text-overflow: ellipsis !important;
}

.yp-cell-bottom{
    width: 100%;
    min-width: 95px ;
    /*background-color: lightgray;*/
    padding-left: 3px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: white;
}

.yp-cell-right{
    width: 100%;
    min-width: 95px ;
    /*background-color: lightgray;*/
    padding-left: 3px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-style: solid;
    border-color: white;
}

.yp-cell-bottom-right{
    width: 100%;
    min-width: 95px ;
    padding-left: 3px;
    /*background-color: lightgray;*/
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: white;
}

.yp-cell-text {

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

}

#cookieModal {
    padding-right: 0px !important;
}

#cookie-dialog {
    margin-top: 0rem;
    max-width: 100%;
}


.size-input {
    max-width: 3em;
}

.dropdown-menu{
    font-family: Roboto !important;
    font-size:1em;
}

.dropdown a{
     color: black;
 }

#spinner {
    margin-right: .5em;
    width: 2rem;
}

/*.dropdown-item .disabled {*/
/*    color: lightgrey !important;*/
/*}*/

.alert-primary {
      background-color: #fbd4b9;
      border-color: #ff9f00;
      color: #b44010;
  }

.text-cancelled {
    color: #ff9f00;!important;
}

#toasts {
    z-index:100;
}

.toast-body {
    /*min-width: 100em;*/
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #212529;
}

.nav-link {
    color: #212529;
}

#tabs-list {
    /*padding-bottom: 20px;*/
    /*border-bottom: none;*/
}

#tabcontent {
    width:90%;
    padding-left: 1rem;
    /*border-left: 1px solid;*/
}

.footer {
    background-color: whitesmoke;
    font-size: .8rem;
    z-index: 200;
}

#footer-container {
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
}

#footer-text-left {
    padding-top: 1rem;
    padding-left:2rem;
}

#footer-text-left a {
    color: #2b2d2f;
}

#footer-text-center{
    color: #2b2d2f;
    padding-top: 1rem;
    padding-right:2rem;
}

#footer-text-right {
    padding-top: 1rem;
    padding-right:2rem;
}

#footer-text-right a {
    color: #2b2d2f;
}