<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Year Planner">
    <meta name="author" content="Craig Parravicini">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' id='google-font-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C600%7CRoboto&#038;ver=1.0' type='text/css' media='all' />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/yp-dark.css">
    <link rel="stylesheet" href="css/typeaheadjs.css">
    <link rel="stylesheet" type="text/css" href="css/sqpaymentform.css">

    <title>Year Planner</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
    <script src="https://kit.fontawesome.com/10808f8e76.js" crossorigin="anonymous"></script>
<!--    <script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script>-->
    <script  src="js/uuid.js"></script>

</head>
<body>
    <div id="app" v-bind:class="{'yp-dark':theme=='dark'}">

        <nav class="navbar navbar-expand sticky-top" >

            <a class="navbar-brand" data-toggle="tooltip" data-html="true" data-placement="bottom" v-bind:data-original-title="$t('label.rename')" v-bind:class="{'d-none':rename}"  v-on:click="showRenamePlanner()" href="#">{{getPlannerName()||$t('label.yearplanner')+' '+DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</a>

            <form id="rename" class="form-inline" >
                <div class="input-group"><input id="title" maxlength="64" class="form-control form-control-sm" type="text" v-bind:placeholder="$t('label.untitled')" aria-label="Name" v-model="name" v-on:keyup="" v-on:focusout="renamePlanner()">
                    <div class="input-group-append">
                        <button class="navbar-brand navbar-brand-support btn btn-outline-secondary py-0 my-0" type="button" v-on:click="renamePlanner()" ><i class="fas fa-save" aria-hidden="true"></i></button>

                    </div>
                </div>
            </form>

            <div class="collapse navbar-collapse" id="navbarCollapse">

            </div>

            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{$t('label.year')}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':year==cyear-1}" v-bind:href="'/?uid='+uid+'&year='+(cyear-1)+'&lang='+lang+'&theme='+theme">{{cyear-1}}</a>
                        <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':year==cyear}" v-bind:href="'/?uid='+uid+'&year='+cyear+'&lang='+lang+'&theme='+theme">{{cyear}}</a>
                        <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':year==cyear+1}"v-bind:href="'/?uid='+uid+'&year='+(cyear+1)+'&lang='+lang+'&theme='+theme">{{cyear+1}}</a>
<!--                        <div class="dropdown-divider"></div>-->
                        <form class="nav-form px-4 py-3 pb-0">
                            <div class="form-group form-group-sm">
                                <label for="exampleDropdownFormEmail1" class="sr-only">Email address</label>
                                <input type="text" maxlength=4 class="form-control form-control-sm" id="nyear" v-model="nyear" v-on:focusout="navigateToYear()" v-bind:placeholder="$t('label.year')">
                            </div>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#January" >{{$t('month.January')}}</a>
                        <a class="dropdown-item" href="#February" >{{$t('month.February')}}</a>
                        <a class="dropdown-item" href="#March" >{{$t('month.March')}}</a>
                        <a class="dropdown-item" href="#April" >{{$t('month.April')}}</a>
                        <a class="dropdown-item" href="#May" >{{$t('month.May')}}</a>
                        <a class="dropdown-item" href="#June" >{{$t('month.June')}}</a>
                        <a class="dropdown-item" href="#July" >{{$t('month.July')}}</a>
                        <a class="dropdown-item" href="#August" >{{$t('month.August')}}</a>
                        <a class="dropdown-item" href="#September" >{{$t('month.September')}}</a>
                        <a class="dropdown-item" href="#October" >{{$t('month.October')}}</a>
                        <a class="dropdown-item" href="#November" >{{$t('month.November')}}</a>
                        <a class="dropdown-item" href="#December" >{{$t('month.December')}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#today" >{{$t('label.today')}}</a>

                    </div>
                </li>
            </ul>

            <span class="text-right">

                <form class="form-inline my-0 ">

                    <button class="navbar-brand navbar-brand-support btn btn-secondary my-0" type="button" v-on:click="sharePlanner()" data-toggle="modal" data-target="#shareModal" title=""><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                    <div  class="btn-group">
                          <button type="button" class="navbar-brand navbar-brand-support btn btn-secondary my-0 px-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                          </button>
                          <div class="nav-settings dropdown-menu dropdown-menu-right">
                                <a  class="dropdown-item" href="#" v-on:click="showRenamePlanner()">{{$t('label.rename')}}</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">{{$t('label.theme')}}</h6>
                                <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':theme=='light'}" v-bind:href="'/?uid='+uid+'&year='+year+'&lang='+lang+'&theme=light'">{{$t('label.light')}}</a>
                                <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':theme=='dark'}" v-bind:href="'/?uid='+uid+'&year='+year+'&lang='+lang+'&theme=dark'">{{$t('label.dark')}}</a>
                                <div v-if="feature.settings" class="dropdown-divider"></div>
                                <a v-if="feature.settings" class="dropdown-item" href="#" v-on:click="showSettings()" data-toggle="modal" data-target="#settingsModal">{{$t('label.settings')}}</a>
                                <div v-if="feature.signin" class="dropdown-divider"></div>
                                <a v-if="feature.signin && !signedin()" class="dropdown-item" href="#" v-on:click="showSignin()">{{$t('label.signin')}}…</a>
                                <a v-if="feature.signin && signedin()" class="dropdown-item" href="#" v-on:click="signout()">{{$t('label.signout')}}…</a>
                          </div>
                        </div>
                        <button v-if="feature.register && !registered()" class="navbar-brand navbar-brand-support btn btn-secondary my-0 px-0 " type="button" v-on:click="showRegister()" data-toggle="modal" data-target="#registerModal" title="">{{$t('label.register')}}</button>
                        <button v-if="feature.signin && !signedin() && registered()" class="navbar-brand navbar-brand-support btn btn-secondary my-0 px-0 " type="button" v-on:click="showSignin()">{{$t('label.signin')}}</button>
                        <button v-if="feature.signin && signedin()" class="navbar-brand navbar-brand-support btn btn-secondary my-0 px-0 " type="button" v-on:click="signout()" data-toggle="modal" data-target="#" title="">{{$t('label.signout')}}</button>
                        <button v-if="feature.donate" class="navbar-brand navbar-brand-support btn btn-secondary my-0 px-0" type="button" v-on:click="showDonate()" data-toggle="modal" data-target="#donateModal" title="">Donate</button>
                        <button v-if="!feature.register && !feature.signin" id="no-feature-button" class="navbar-brand navbar-brand-support btn btn-secondary my-0 px-0" type="button" >&nbsp;</button>
               </form>

            </span>

        </nav>

        <main >
            <div class="jumbotron">
                <div class="container">
                    <div v-if="feature.debug">
                            <div>&nbsp</div>
                            <div class="row no-gutters">
                                <div class="col-xs-12">
                                    <div class="row tst-cell d-sm-none">Extra Small (xs) < 576px</div>
                                    <div class="row tst-cell d-none d-sm-inline d-md-none">Small (sm) >= 576</div>
                                    <div class="row tst-cell d-none d-md-inline d-lg-none">Medium (md) >= 768px</div>
                                    <div class="row tst-cell d-none d-lg-inline d-xl-none">Large (lg) >= 992px</div>
                                    <div class="row tst-cell d-none d-xl-inline">Extra Large (xl) >= 1200px</div>
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col"><h2>{{$t('label.yearplanner')}} {{year}}</h2></div>
                            </div>
                    </div>


                    <div id="yp-table" class="row no-gutters">
                        <div id="yp-weekdays" class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1">

                                <div class="row no-gutters yp-header-cell"          ><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell "          v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters          "          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-xl-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-xl-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-xl-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-xl-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-xl-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-xl-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-lg-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-lg-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-lg-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-md-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-md-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-md-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-md-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-md-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-md-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-sm-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-sm-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-sm-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-sm-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-sm-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-sm-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-sm-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-sm-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-sm-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-sm-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-sm-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-sm-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-sm-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-sm-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-sm-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>
                                <div class="row no-gutters yp-header-cell d-sm-none"><h5>{{DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5></div><template v-for="w in 5" ><div class="row no-gutters  yp-cell d-sm-none" v-bind:class="{'yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in daysOfWeek">{{$t('day.'+d)}}</div></template><div class="row no-gutters d-sm-none"          v-bind:class="{'yp-cell':  ( d != 'Sunday'), 'yp-cell-bottom':  d == 'Tuesday','yp-cell-weekend': d == 'Saturday' || d == 'Sunday'}"  v-for="d in ['Monday','Tuesday']">{{$t('day.'+d)}}</div>

                            </div>
                        <div id="yp-months" class="col-8 col-sm-9 col-md-10 col-lg-10 col-xl-11">
                            <div class="row no-gutters">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-1" v-for="(m,mindex) in monthsOfYear">
                                    <div class="row no-gutters" v-bind:class="{'yp-header-cell': m != 'December', 'yp-header-cell-right' : m == 'December'}" ><a class="yp-anchor" v-bind:name="m" ></a><h5>{{$t('month.'+m)}}</h5></div>
                                        <template v-if="firstWeekdayOfMonth[mindex]>1">
                                            <div class="row no-gutters yp-cell"
                                                 v-bind:class="{'yp-cell-right': m == 'December', 'yp-cell-weekend': (n-1) % 7 > 4 }"
                                                  v-for="n in firstWeekdayOfMonth[mindex]-1">&nbsp;
                                            </div>
                                        </template>
                                        <div class="row no-gutters yp-cell"
                                             v-bind:class="{'yp-cell-bottom': n+firstWeekdayOfMonth[mindex]-1 == 37 && m != 'December','yp-cell-right': n+firstWeekdayOfMonth[mindex]-1 < 37 && m == 'December', 'yp-cell-bottom-right': n+firstWeekdayOfMonth[mindex]-1 == 37 && m == 'December', 'yp-cell-past': DateTime.local(year,mindex+1,n).ts < DateTime.local(cyear,cmonth,cday).ts,'yp-cell-weekend': (n+firstWeekdayOfMonth[mindex]-1-1) % 7 > 4,'yp-cell-c1':getEntryColour(mindex,n)==1,'yp-cell-c2':getEntryColour(mindex,n)==2,'yp-cell-c3':getEntryColour(mindex,n)==3,'yp-cell-c4':getEntryColour(mindex,n)==4,'yp-cell-c5':getEntryColour(mindex,n)==5,'yp-cell-c6':getEntryColour(mindex,n)==6,'yp-cell-c7':getEntryColour(mindex,n)==7,'yp-cell-c8':getEntryColour(mindex,n)==8,'yp-cell-today': cyear == year && cmonth==mindex+1 && cday == n  }"
                                             v-for="n in daysInMonth[mindex]" data-toggle="modal" data-target="#entryModal"
                                             v-on:click="updateEntryState(mindex,n)">
                                            <a v-if="cyear == year && cmonth==mindex+1 && cday == n" class="yp-anchor" name="today" ></a>
                                            <span class="yp-cell-text" >{{DateTime.local(year, mindex+1, n).setLocale(lang).toLocaleString({day:'numeric'})}}&nbsp;</span>
                                            <span class="yp-cell-text" data-toggle="tooltip" data-html="true" data-placement="bottom" v-bind:data-original-title="getEntryTypeIcon(mindex,n)+' ' +getEntry(mindex,n).trimStart()">
                                                    {{getEntry(mindex,n).trimStart().substr(0,20)}}</span><span class="yp-cell-text">{{getEntry(mindex,n).trimStart().substr(20)}}</span>

                                        </div>
                                        <template v-if="37-firstWeekdayOfMonth[mindex]-daysInMonth[mindex]+1 > 0">
                                            <div class="row no-gutters yp-cell"
                                                 v-bind:class="{'yp-cell-right': m == 'December', 'yp-cell-weekend': (n+firstWeekdayOfMonth[mindex]+daysInMonth[mindex]-2) % 7 > 4, 'yp-cell-bottom': n==37-firstWeekdayOfMonth[mindex]-daysInMonth[mindex]+1 }"
                                                 v-for="n in 37-firstWeekdayOfMonth[mindex]-daysInMonth[mindex]+1">&nbsp;
                                            </div>
                                        </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="yp-table-subscript" class="text-muted text-right">▥ {{$t('label.created')}} {{DateTime.fromMillis(uid*1000).setLocale(lang).toLocaleString(DateTime.DATETIME_FULL)}}, {{$t('label.updated')}} {{DateTime.fromMillis(updated).setLocale(lang).toLocaleString(DateTime.TIME_SIMPLE)}}</a>
                    </div>
                    <div>&nbsp</div>
                </div>

            </div>



        </main>

        <div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
            <div id="cookie-dialog"  class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="notice d-flex justify-content-between align-items-center">
                            <div class="cookie-text">{{$t('label.cookies')}}</div>
                            <div class="buttons d-flex flex-column flex-lg-row">
                                <a href="#a" class="btn btn-secondary btn-sm" data-dismiss="modal" v-on:click="initialise()">{{$t('label.accept')}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="entryModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entryModalLabel">{{$t('month.'+monthsOfYear[month])+' '+day}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                             <div class="form-group">
                                <label for="recipient-name" class="col-form-label"></label>
                                <textarea type="text" placeholder="On this day ..." class="form-control" v-model="entry" id="yp-entry-textarea" rows="5" maxlength="256"
                                          v-bind:class="'yp-cell-c'+getEntryColour(month,day)"></textarea>
                            </div>
                            <div class="form-select-button">
                                <button type="button" class="btn yp-cell-c0" v-on:click="updateEntry(month,day,entry,entryType,0)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c1 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,1)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c2 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,2)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c3 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,3)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c4 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,4)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c5 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,5)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c6 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,6)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c7 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,7)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c8 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,8)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c0 " v-on:click="updateWeekColour(month,day,entryColour,0)"> > </button>
                                <button type="button" class="btn yp-cell-c0 " v-on:click="updateMonthColour(month,day,entryColour)"> >> </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="updateEntry(month,day,entry,entryType,entryColour)">{{$t('label.update')}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shareModalLabel">{{$t('label.yearplanner')+' '+DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">{{$t('label.sharecopy')}}</label>
                                <input  type="text" class="form-control" v-model="shareUrl" id="copyUrl">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                        <button type="button" class="btn btn-primary"  v-on:click="copyUrl()">{{$t('label.copy')}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="settingsModalLabel">{{$t('label.settings')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h5 class="" >{{$t('label.profile')}}</h5>
                                <div class="form-group">
                                    <label for="username" class="col-form-label">{{$t('label.username')}}</label>
                                    <input  type="text" class="form-control " v-model="username" id="username-settings" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-form-label">{{$t('label.email')}}</label>
                                    <input  type="text" class="form-control readonly" v-model="email" id="email">
                                </div>
                            <div class="form-group">
                                <label for="mobile" class="col-form-label">{{$t('label.mobile')}}</label>
                                <input  type="text" class="form-control readonly" v-model="mobile" id="mobile">
                            </div>


                            <h5 class="" >{{$t('label.theme')}}</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="themeOptions" id="inlineRadio0"  v-model="theme" value="light">
                                <label class="form-check-label" for="themeOptions1">{{$t('label.light')}}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="themeOptions" id="inlineRadio0"  v-model="theme" value="dark">
                                <label class="form-check-label" for="themeOptions2">{{$t('label.dark')}}</label>
                            </div>
                            <br/>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                        <button type="button" class="btn btn-primary"  v-on:click="saveSettings()">{{$t('label.update')}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerModalLabel">{{$t('label.register')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="fade" v-if="modalError" v-bind:class="{'alert alert-danger alert-dismissible show': modalError != ''}" role="alert" >
                            <p>{{$t(modalError)}}</p>
                            <button type="button" class="close" v-on:click="clearModalAlert"aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="fade" v-if="modalWarning" v-bind:class="{'alert alert-warning alert-dismissible show': modalWarning != ''}" role="alert">
                            <p>{{$t(modalWarning)}}</p>
                            <button type="button" class="close" v-on:click="clearModalAlert"aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="username" class="col-form-label">{{$t('label.username')}}</label>
                                <input  type="text" class="form-control " v-bind:class="{'is-invalid':modalErrorTarget?.['username']}" v-model="username" id="username-register" >
                                <div v-if="modalErrorTarget" v-bind:class="{'valid-feedback': !modalErrorTarget?.['username'] ,'invalid-feedback':modalErrorTarget?.['username']}">
                                    {{$t(modalErrorTarget?.['username'])}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-form-label">{{$t('label.password')}}</label>
                                <input  type="password" class="form-control readonly" v-bind:class="{'is-invalid':modalErrorTarget?.['password']}" v-model="password" id="passsword-register" >
                                <div v-if="modalErrorTarget" v-bind:class="{'valid-feedback': !modalErrorTarget?.['password'] ,'invalid-feedback':modalErrorTarget?.['password']}">
                                    {{$t(modalErrorTarget?.['password'])}}
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                        <button type="button" class="btn btn-primary"  v-on:click="register(username,password,email,mobile)">{{$t('label.register')}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signinModalLabel">{{$t('label.signin')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="fade" v-if="modalError" v-bind:class="{'alert alert-danger alert-dismissible show': modalError != ''}" role="alert" >
                            <p>{{$t(modalError)}}</p>
                            <button type="button" class="close" v-on:click="clearModalAlert"aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="fade" v-if="modalWarning" v-bind:class="{'alert alert-warning alert-dismissible show': modalWarning != ''}" role="alert">
                            <p>{{$t(modalWarning)}}</p>
                            <button type="button" class="close" v-on:click="clearModalAlert"aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="username" class="col-form-label">{{$t('label.username')}}</label>
                                <input  type="text" class="form-control " v-bind:class="{'is-invalid':modalErrorTarget?.['username']}" v-model="username" id="username-signin">
                                <div v-if="modalErrorTarget" v-bind:class="{'valid-feedback': !modalErrorTarget?.['username'] ,'invalid-feedback':modalErrorTarget?.['username']}">
                                    {{$t(modalErrorTarget?.['username'])}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-form-label">{{$t('label.password')}}</label>
                                <input  type="password" class="form-control readonly" v-bind:class="{'is-invalid':modalErrorTarget?.['password']}" v-model="password" id="passsword-signin">
                                <div v-if="modalErrorTarget" v-bind:class="{'valid-feedback': !modalErrorTarget?.['password'] ,'invalid-feedback':modalErrorTarget?.['password']}">
                                    {{$t(modalErrorTarget?.['password'])}}
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="rememberme" v-model="rememberme">
                                <label class="form-check-label" for="rememberme">{{$t('label.rememberme')}}</label>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                        <button type="button" class="btn btn-primary"  v-on:click="signin(username,password,rememberme)">{{$t('label.signin')}}</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div v-if="feature.pay" class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="payModalLabel">Subscribe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="form-container">
                            <div id="sq-card-number"></div>
                            <div class="third" id="sq-expiration-date"></div>
                            <div class="third" id="sq-cvv"></div>
                            <div class="third" id="sq-postal-code"></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
<!--                        <button id="sq-creditcard" type="button" class="btn btn-primary button-credit-card"  v-on:click="onGetCardNonce(event)">Pay $1.00</button>-->
                    </div>
<!--                    <script type="text/javascript">-->

<!--                        const idempotency_key = uuidv4();-->

<!--                        // Create and initialize a payment form object-->
<!--                        const paymentForm = new SqPaymentForm({-->
<!--                            // Initialize the payment form elements-->

<!--                           // applicationId: "REPLACE_WITH_APPLICATION_ID";-->
<!--                            applicationId: "sandbox-sq0idb-ZaOa3uAuhkRfgVmR2xHQyA",-->
<!--                            inputClass: 'sq-input',-->
<!--                            autoBuild: false,-->
<!--                            // Customize the CSS for SqPaymentForm iframe elements-->
<!--                            inputStyles: [{-->
<!--                                fontSize: '16px',-->
<!--                                lineHeight: '24px',-->
<!--                                padding: '16px',-->
<!--                                placeholderColor: '#a0a0a0',-->
<!--                                backgroundColor: 'transparent',-->
<!--                            }],-->
<!--                            // Initialize the credit card placeholders-->
<!--                            cardNumber: {-->
<!--                                elementId: 'sq-card-number',-->
<!--                                placeholder: 'Card Number'-->
<!--                            },-->
<!--                            cvv: {-->
<!--                                elementId: 'sq-cvv',-->
<!--                                placeholder: 'CVV'-->
<!--                            },-->
<!--                            expirationDate: {-->
<!--                                elementId: 'sq-expiration-date',-->
<!--                                placeholder: 'MM/YY'-->
<!--                            },-->
<!--                            postalCode: {-->
<!--                                elementId: 'sq-postal-code',-->
<!--                                placeholder: 'Postal'-->
<!--                            },-->
<!--                            // SqPaymentForm callback functions-->
<!--                            callbacks: {-->
<!--                                /*-->
<!--                                * callback function: cardNonceResponseReceived-->
<!--                                * Triggered when: SqPaymentForm completes a card nonce request-->
<!--                                */-->
<!--                                cardNonceResponseReceived: function (errors, nonce, cardData) {-->
<!--                                    if (errors) {-->
<!--                                        // Log errors from nonce generation to the browser developer console.-->
<!--                                        console.error('Encountered errors:');-->
<!--                                        errors.forEach(function (error) {-->
<!--                                            console.error('  ' + error.message);-->
<!--                                        });-->
<!--                                        alert('Encountered errors, check browser developer console for more details');-->
<!--                                        return;-->
<!--                                    }-->

<!--                                    // alert(`The generated nonce is:\n${nonce}`);-->
<!--                                    console.log(nonce);-->
<!--                                    console.log(idempotency_key);-->
<!--                                    fetch('/api/payment', {-->
<!--                                        method: 'POST',-->
<!--                                        headers: {-->
<!--                                            'Accept': 'application/json',-->
<!--                                            'Content-Type': 'application/json'-->
<!--                                        },-->
<!--                                        body: JSON.stringify({-->
<!--                                            nonce: nonce,-->
<!--                                            idempotency_key: idempotency_key,-->
<!--                                            // location_id: "REPLACE_WITH_LOCATION_ID"-->
<!--                                            location_id: "LDF5NP9BZJ0CP"-->
<!--                                        })-->
<!--                                    })-->
<!--                                        .catch(err => {-->
<!--                                            alert('Network error: ' + err);-->
<!--                                        })-->
<!--                                        .then(response => {-->
<!--                                            if (!response.ok) {-->
<!--                                                return response.json().then(-->
<!--                                                    errorInfo => Promise.reject(errorInfo));-->
<!--                                            }-->
<!--                                            return response.json();-->
<!--                                        })-->
<!--                                        .then(data => {-->
<!--                                            console.log(data);-->
<!--                                            alert('Payment complete successfully!\nCheck browser developer console for more details');-->
<!--                                        })-->
<!--                                        .catch(err => {-->
<!--                                            console.error(err);-->
<!--                                            alert('Payment failed to complete!\nCheck browser developer console for more details');-->
<!--                                        });-->

<!--                                }-->
<!--                            }-->
<!--                        });-->

<!--                        paymentForm.build();-->

<!--                        //TODO: paste code from step 2.1.2-->

<!--                        // onGetCardNonce is triggered when the "Pay $1.00" button is clicked-->
<!--                        function onGetCardNonce(event) {-->

<!--                            // Don't submit the form until SqPaymentForm returns with a nonce-->
<!--                            event.preventDefault();-->
<!--                            // Request a nonce from the SqPaymentForm object-->
<!--                            paymentForm.requestCardNonce();-->
<!--                        }-->
<!--                    </script>-->
                </div>
            </div>
        </div>

        <div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="featureModalLabel" aria-hidden="true">
            <div id="feature-dialog"  class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="featureModalLabel">Feature Toggles</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="debug" v-model="feature['debug']">
                                <label class="form-check-label" for="debug">Debug</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="register" v-model="feature['register']">
                                <label class="form-check-label" for="register">{{$t('label.register')}}</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="signin" v-model="feature['signin']">
                                <label class="form-check-label" for="signin">{{$t('label.signin')}}</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer fixed-bottom">
            <div id ="footer-container" class="container">
                <div class="row">
                    <div class="col-2">

                        <div id="footer-text-left" class="text-muted text-left">
                            <div class="dropup show">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{$t('lang.'+lang)}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='en'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=en'+'&theme='+theme">English</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='zh'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=zh'+'&theme='+theme">中國人</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='hi'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=hi'+'&theme='+theme">हिन्दी</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='es'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=es'+'&theme='+theme">español</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='fr'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=fr'+'&theme='+theme">français</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='ar'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=ar'+'&theme='+theme">عربى</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='ru'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=ru'+'&theme='+theme">русский</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='pt'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=pt'+'&theme='+theme">português</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='ja'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=ja'+'&theme='+theme">日本語</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='id'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=id'+'&theme='+theme">Bahasa Indonesia</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-10">

                        <div id="footer-text-right" class="text-muted text-right">© 2021, C<span class="d-none d-sm-inline">raig </span><span class="d-sm-none" data-toggle="modal" data-target="#featureModal">. </span>Parravicini&nbsp;&nbsp; <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                            <i class="fab fa-creative-commons"></i>-<i class="fab fa-creative-commons-by"></i>-<i class="fab fa-creative-commons-sa"></i>
                        </a>&nbsp;&nbsp; <a href="https://github.com/craigparra/year-planner" target="_blank"><i class="fab fa-github"></i><span class="d-none d-sm-inline">&nbsp;README.md</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0/build/global/luxon.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/lz-string.min.js"></script>

    <script  src="js/features.js"></script>
    <script  src="js/i81n.js"></script>
    <script  src="js/cookies.js"></script>
    <script  src="js/storage.js"></script>
    <script  src="js/api.js"></script>
    <script  src="js/main.js"></script>

</body>
</html>