        <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="authModalLabel">{{$t('label.signin')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="fade" v-if="modalError" v-bind:class="{'alert alert-danger alert-dismissible show': modalError != ''}" role="alert">
                            <p class="mb-0">{{$t(modalError)}}</p>
                            <button type="button" class="close" v-on:click="clearModalAlert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-outline-dark btn-block mb-2" v-on:click="signInWith('google')">
                                <i class="ph ph-google-logo me-2"></i> Sign in with Google
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-block mb-2" v-on:click="signInWith('apple')">
                                <i class="ph ph-apple-logo me-2"></i> Sign in with Apple
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-block mb-2" v-on:click="signInWith('microsoft')">
                                <i class="ph ph-microsoft-outlook-logo me-2"></i> Sign in with Microsoft
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
