        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" v-bind:aria-hidden="!showDeleteModal"
             v-bind:class="{ show: showDeleteModal, 'd-block': showDeleteModal }">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">{{getPlannerName() || $t('label.yearplanner')+' '+DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5>
                        <button type="button" class="btn-close" v-on:click="closeDeleteModal()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" id="deleteModalConfirm">{{$t('label.deleteplanner')}}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" v-on:click="closeDeleteModal()">{{$t('label.close')}}</button>
                        <button type="button" class="btn btn-primary" v-on:click="deletePlannerByYear(uid,year); closeDeleteModal()">{{$t('label.delete')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show" v-if="showDeleteModal" v-on:click="closeDeleteModal()"></div>
