        <div class="modal fade" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="entryModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entryModalLabel">{{$t('month.'+monthsOfYear[month])+' '+day}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                             <div class="form-group">
                                <label for="yp-entry-textarea" class="col-form-label"></label>
                                <textarea v-bind:placeholder="$t('label.entryplaceholder')" class="form-control" v-model="entry" id="yp-entry-textarea" rows="5" maxlength="256"
                                          v-bind:class="'yp-cell-c'+getEntryColour(month,day)"></textarea>
                            </div>
                            <div class="form-select-button">
                                <button type="button" class="btn yp-cell-c0" v-on:click="updateEntry(month,day,entry,entryType,0,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c1 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,1,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c2 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,2,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c3 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,3,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c4 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,4,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c5 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,5,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c6 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,6,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c7 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,7,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c8 yp-cell-btn" v-on:click="updateEntry(month,day,entry,entryType,8,true)">&nbsp;</button>
                                <button type="button" class="btn yp-cell-c0 px-2" v-on:click="updateWeekColour(month,day,entryColour,0)"><i class="fa-solid fa-forward-step"></i></button>
                                <button type="button" class="btn yp-cell-c0 px-2" v-on:click="updateMonthColour(month,day,entryColour)"><i class="fa-solid fa-forward-fast"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="updateEntry(month,day,entry,entryType,entryColour,true)">{{$t('label.update')}}</button>
                    </div>
                </div>
            </div>
        </div>
