        <div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="featureModalLabel" aria-hidden="true">
            <div id="feature-dialog"  class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="featureModalLabel">Feature Toggles</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="debug" v-model="feature['debug']">
                                <label class="form-check-label" for="debug">Debug</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="signin" v-model="feature['profile']">
                                <label class="form-check-label" for="signin">{{$t('label.profile')}}</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="pay" v-model="feature['pay']">
                                <label class="form-check-label" for="pay">Pay</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="reset()">{{$t('label.reset')}}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
