        <div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="featureModalLabel" aria-hidden="true"
             v-bind:class="{ show: showFeatureModal, 'd-block': showFeatureModal }">
            <div id="feature-dialog"  class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="featureModalLabel">Feature Toggles</h5>
                        <button type="button" class="btn-close" v-on:click="closeFeatureModal()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="debug" v-model="feature['debug']">
                                <label class="form-check-label" for="debug">Debug</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  id="signin" v-model="feature['signin']">
                                <label class="form-check-label" for="signin">{{$t('label.signin')}}</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="reset(); closeFeatureModal()">{{$t('label.reset')}}</button>
                        <button type="button" class="btn btn-secondary" v-on:click="closeFeatureModal()">{{$t('label.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show" v-if="showFeatureModal" v-on:click="closeFeatureModal()"></div>
