        <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="settingsModalLabel">{{$t('label.profile')}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="fade" v-if="modalError" v-bind:class="{'alert alert-danger alert-dismissible show': modalError != ''}" role="alert" >
                            <p class="mb-0">{{$t(modalError)}}</p>
                            <button type="button" class="close" v-on:click="clearModalAlert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="fade" v-if="modalWarning" v-bind:class="{'alert alert-warning alert-dismissible show': modalWarning != ''}" role="alert">
                            <p class="mb-0">{{$t(modalWarning)}}</p>
                            <button type="button" class="close" v-on:click="clearModalAlert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="fade" v-if="modalSuccess" v-bind:class="{'alert alert-success alert-dismissible show': modalSuccess != ''}" role="alert">
                            <p class="mb-0">{{$t(modalSuccess)}}</p>
                            <button type="button" class="close" v-on:click="clearModalAlert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                            <label for="username-settings" class="col-form-label">{{$t('label.username')}}{{touch}}</label>
                            <div class="input-group">
                                <input  type="text" class="form-control" v-model="username" id="username-settings" v-bind:class="{'is-invalid':modalErrorTarget?.['username']}" v-bind:readonly="!changeuser">
                                <div v-if="modalErrorTarget" class="order-last" v-bind:class="{'d-block':modalErrorTarget?.['username'], 'valid-feedback': !modalErrorTarget?.['username'] ,'invalid-feedback':modalErrorTarget?.['username']}">
                                    {{$t(modalErrorTarget?.['username'])}}
                                </div>
                                <div class="input-group-append">
                                    <button v-if="!changeuser" class="btn btn-primary py-0 my-0" type="button" v-on:click="changeuser=!changeuser" ><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button v-if="changeuser" class="btn btn-primary py-0 my-0" type="button" v-on:click="setUsername(username)"><i class="fa-solid fa-floppy-disk"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <label for="password-profile" class="col-form-label">{{$t('label.password')}}</label>
                            <div class="input-group">
                                <input v-bind:type="peek?'text':'password'" class="form-control" v-bind:readonly="!changepass" v-bind:class="{'is-invalid':modalErrorTarget?.['password']}" v-model="password" id="password-profile" v-bind:placeholder="changepass ? $t('label.oldpassword') : $t('label.changepass')">
                                <div v-if="modalErrorTarget" class="order-last" v-bind:class="{'d-block':modalErrorTarget?.['password'], 'valid-feedback': !modalErrorTarget?.['password'] ,'invalid-feedback':modalErrorTarget?.['password']}">
                                    {{$t(modalErrorTarget?.['password'])}}
                                </div>
                                <div class="input-group-append">
                                    <button v-if="!changepass" class="btn btn-primary py-0 my-0" type="button" v-on:click="changepass=!changepass" ><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button v-if="changepass && !peek" class="btn btn-primary py-0 my-0" type="button" v-on:click="peekPass()" ><i class="fa-solid fa-eye"></i></button>
                                    <button v-if="changepass && peek" class="btn btn-primary py-0 my-0" type="button" v-on:click="unpeekPass()" ><i class="fa-solid fa-eye-slash"></i></button>
                                </div>

                            </div>

                            <label v-if="changepass" for="newpassword-profile" class="col-form-label">{{$t('label.newpassword')}}</label>
                            <div class="input-group">
                                <input  v-if="changepass" v-bind:type="peeknp?'text':'password'" class="form-control readonly" v-bind:class="{'is-invalid':modalErrorTarget?.['newpassword']}" v-model="newpassword" id="newpassword-profile" v-bind:placeholder="$t('label.newpassword')">
                                <div v-if="modalErrorTarget" class="order-last" v-bind:class="{'d-block':modalErrorTarget?.['newpassword'], 'valid-feedback': !modalErrorTarget?.['newpassword'] ,'invalid-feedback':modalErrorTarget?.['newpassword']}">
                                    {{$t(modalErrorTarget?.['newpassword'])}}
                                </div>
                                <div v-if="changepass" class="input-group-append">
                                    <button v-if="!peeknp" class="btn btn-primary py-0 my-0" type="button" v-on:click="peekNewPass()" ><i class="fa-solid fa-eye"></i></button>
                                    <button v-if="peeknp" class="btn btn-primary py-0 my-0" type="button" v-on:click="unpeekNewPass()" ><i class="fa-solid fa-eye-slash"></i></button>
                                </div>


                            </div>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <button v-if="changepass" class="btn btn-primary py-0 my-0" type="button" v-on:click="setPassword(password, newpassword)">{{$t('label.changepass')}}</button>
                            </div>

                            <label for="email" class="col-form-label">{{$t('label.email')}}</label>
                                <div class="input-group">
                                    <input  type="text" class="form-control readonly" v-bind:class="{'is-valid':!changeemail && emailverified ,'is-invalid':!(emailverified || changeemail) || modalErrorTarget?.['email']}" v-on:click="changeemail=true" v-model="email" id="email">
                                    <div class="d-block order-last" v-bind:class="{'d-block':modalErrorTarget?.['email'], 'valid-feedback': emailverified ,'invalid-feedback':!(emailverified || changeemail) || modalErrorTarget?.['email']}">
                                        {{(!changeemail && emailverified) ? $t('label.verified') : (modalErrorTarget?.['email'] ? $t(modalErrorTarget?.['email']) : changeemail ? '' : ($t('label.unverified'))) }}
                                    </div>
                                    <div class="input-group-append">
                                        <button v-if="!changeemail && !emailverified" data-toggle="tooltip" data-placement="bottom" :title="$t('label.verify')" class="btn btn-danger py-0 my-0" type="button" v-on:click="sendVerificationEmail()" ><i class="fa-regular fa-paper-plane"></i></button>
                                        <button v-if="!changeemail && emailverified" class="btn btn-primary py-0 my-0" v-on:click="changeemail=!changeemail" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button v-if="changeemail" class="btn btn-primary py-0 my-0" v-on:click="setEmail(email)" type="button"><i class="fa-solid fa-floppy-disk"></i></button>
                                    </div>
                                </div>
<!--                            <div class="form-group">-->
<!--                                <label for="mobile" class="col-form-label">{{$t('label.mobile')}}</label>-->
<!--                                <input  type="text" class="form-control readonly" v-model="mobile" id="mobile">-->
<!--                            </div>-->
                            <br/>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('label.close')}}</button>
                    </div>
                </div>
            </div>
        </div>
