        <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" v-bind:aria-hidden="!showShareModal"
             v-bind:class="{ show: showShareModal, 'd-block': showShareModal }">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shareModalLabel">{{$t('label.yearplanner')+' '+DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</h5>
                        <button type="button" class="btn-close" v-on:click="closeShareModal()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="copyUrl" class="col-form-label">{{$t('label.sharecopy')}}</label>
                                <input  type="text" class="form-control" v-model="shareUrl" id="copyUrl">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" v-on:click="closeShareModal()">{{$t('label.close')}}</button>
                        <button type="button" class="btn btn-primary"  v-on:click="copyUrl()">{{$t('label.copy')}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show" v-if="showShareModal" v-on:click="closeShareModal()"></div>
