        <footer class="d-none footer fixed-bottom" v-bind:class="{'d-block':loaded}">
            <div id ="footer-container" class="container">
                <div class="row">
                    <div class="col-2">

                        <div id="footer-text-left" class="text-muted text-left">
                            <div class="dropup show">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{$t('lang.'+lang)}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='en'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=en'+'&theme='+theme">English</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='zh'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=zh'+'&theme='+theme">中國人</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='hi'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=hi'+'&theme='+theme">हिन्दी</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='es'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=es'+'&theme='+theme">español</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='fr'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=fr'+'&theme='+theme">français</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='ar'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=ar'+'&theme='+theme">عربى</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='ru'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=ru'+'&theme='+theme">русский</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='pt'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=pt'+'&theme='+theme">português</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='ja'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=ja'+'&theme='+theme">日本語</a>
                                    <a class="dropdown-item" v-bind:class="{'dropdown-item-checked':lang=='id'}" v-bind:href="'/?id='+uid+'&year='+year+'&lang=id'+'&theme='+theme">Bahasa Indonesia</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-10">

                        <div id="footer-text-right" class="text-muted text-right">© 2021, C<span class="d-none d-sm-inline">raig</span><span class="d-sm-none">.</span><span data-toggle="modal" data-target="#featureModal">&nbsp;</span>Parravicini&nbsp;&nbsp; <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                            <i class="fa-brands fa-creative-commons"></i>-<i class="fa-brands fa-creative-commons-by"></i>-<i class="fa-brands fa-creative-commons-sa"></i>
                        </a>&nbsp;&nbsp; <a href="https://github.com/alt-html/year-planner" target="_blank"><i class="fa-brands fa-github"></i><span class="d-none d-sm-inline">&nbsp;README.md</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
