<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Year Planner">
    <meta name="author" content="Craig Parravicini">

    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fonts: Ink & Paper (Playfair + Source Sans) and Crisp & Clear (DM Sans + JetBrains Mono) -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Source+Sans+3:wght@300;400;600&family=DM+Sans:wght@400;500;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/yp-dark.css">
    <link rel="stylesheet" href="./css/typeaheadjs.css">

    <title>Year Planner</title>

    <!-- Phosphor Icons -->
    <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.2/src/regular/style.css"
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.2/src/light/style.css"
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <script src="https://cdn.jsdelivr.net/npm/vue@3.5.30/dist/vue.global.prod.js"
            integrity="sha384-vCgvGgU4V24AR6BHDZDH2f+muEekzRVoiu4vtvCdSR6z1N61Z1rTC9lKdgZIVk6P"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@9.14.5/dist/vue-i18n.global.prod.js"
            integrity="sha384-DUZ16DArXVGPIVZmfui1TAqsquB/3WiF1OmDv4eCj+kOBRdgL4GCyLoRaUsmoSt7"
            crossorigin="anonymous"></script>


</head>
