<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Year Planner">
    <meta name="author" content="Craig Parravicini">

    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' id='google-font-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C600%7CRoboto&#038;ver=1.0' type='text/css' media='all' />
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/yp-dark.css">
    <link rel="stylesheet" href="./css/typeaheadjs.css">
    <link rel="stylesheet" type="text/css" href="./css/sqpaymentform.css">

    <title>Year Planner</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha384-nRgPTkuX86pH8yjPJUAFuASXQSSl2/bBUiNV47vSYpKFxHJhbcrGnmlYpYJMeD7a"
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.5.30/dist/vue.global.prod.js"
            integrity="sha384-vCgvGgU4V24AR6BHDZDH2f+muEekzRVoiu4vtvCdSR6z1N61Z1rTC9lKdgZIVk6P"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@9.14.5/dist/vue-i18n.global.prod.js"
            integrity="sha384-DUZ16DArXVGPIVZmfui1TAqsquB/3WiF1OmDv4eCj+kOBRdgL4GCyLoRaUsmoSt7"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent@10.3.0/dist/superagent.min.js"
            integrity="sha384-vKYrrQnCdb4VB9wYZCasQFtF12dStq3fVJg8L40fhkcOaZdZljrCiLrqpa7DVyeZ"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script> <!-- LIVE -->
    <!-- <script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script> SANDBOX -->


</head>
