m4_include([[[.compose/fragments/modals/entry.html]]])
m4_include([[[.compose/fragments/modals/share.html]]])
m4_include([[[.compose/fragments/modals/delete.html]]])
m4_include([[[.compose/fragments/modals/settings.html]]])
m4_include([[[.compose/fragments/modals/register.html]]])
m4_include([[[.compose/fragments/modals/signin.html]]])
m4_include([[[.compose/fragments/modals/reset-password.html]]])
m4_include([[[.compose/fragments/modals/recover-username.html]]])
m4_include([[[.compose/fragments/modals/feature.html]]])m4_dnl
