        <nav class="navbar navbar-expand sticky-top" v-bind:class="{'d-none':!loaded}" >

            <a class="navbar-brand" :title="$t('label.rename')" v-bind:class="{'d-none':rename}"  v-on:click="showRenamePlanner()" href="#">{{getPlannerName()||$t('label.yearplanner')+' '+DateTime.local(year, 1, 1).setLocale(lang).toLocaleString({year:'numeric'})}}</a>

            <form id="rename" class="d-flex align-items-center gap-2" v-show="renameVisible">
                <div class="input-group"><input id="title" maxlength="64" class="form-control form-control-sm" type="text" v-bind:placeholder="$t('label.untitled')" aria-label="Name" v-model="name" v-on:keyup="" v-on:focusout="renamePlanner()">
                        <button class="navbar-brand navbar-brand-support btn btn-outline-secondary py-0 my-0" type="button" v-on:click="renamePlanner()" ><i class="ph ph-floppy-disk" aria-hidden="true"></i></button>
                </div>
            </form>

            <div class="collapse navbar-collapse" id="navbarCollapse"></div>

            <!-- Year chevron navigation (mockup style) -->
            <div class="yp-nav-year">
                <a class="yp-nav-year-btn" v-bind:href="'/?uid='+uid+'&year='+(year-1)+'&lang='+lang+'&theme='+theme" title="Previous year"><i class="ph ph-caret-left"></i></a>
                <span class="yp-nav-year-btn current">{{year}}</span>
                <a class="yp-nav-year-btn" v-bind:href="'/?uid='+uid+'&year='+(year+1)+'&lang='+lang+'&theme='+theme" title="Next year"><i class="ph ph-caret-right"></i></a>
            </div>

            <!-- Theme label in nav (right-aligned) -->
            <span class="nav-theme-label" id="navThemeLabel">Ink &amp; Paper</span>


        </nav>
